# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized
**In this notebook, Data Science Tools and Ecosystem are summarized**
*In this notebook, Data Science Tools and Ecosystem are summarized*

***Some of the popular languages that Data Scientists use are:***
1. Python
2. R/Rstudio
3. SQL
4. Java
5. C++/C

***Some of the commonly used libraries used by Data Scientists include:***
1. NumPy
2. Keras
3. Pandas
4. PyTorch
5. SciPy
6. Scikit-Learn

| Number | Data Science Tool|
|--------|------------------|
| 1 | Jupyter Notebook |
| 2 | Google Collaborations |
| 3 | R Studio|
| 4 | Apache Spark|
| 5 | Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

In [5]:
hours = 200/60
print(hours)

3.3333333333333335

+ Printing headers using markdown files
+ List open environment data science tools 
+ Simple arithmetic using python and R Studio
+ Plotting using R Studio
+ Using Git Hub

## Author
***Ross Cunningham***